<section>
  <nav>
    <p>CONSUMER</p>
   <h2>
     Booble
     </h2>
     <p>Bobble Keyboard is an input method that allows users to personalise conversations. Users can convert text into visual elements like stickers, GIFs, emojis, custom fonts etc. Stickers and GIFs can be personalised with users' own faces. It uses AI to suggest relevant content using factors like text, emotions, location, language, relationship etc. Leading smartphone brands in India have chosen it as the default keyboard. It supports English and 21 other Indian languages. It has almost 5% share among Indic keyboards- second only to Google.
     </p>
        <p>
          Ankit Prasad, Mohd Waseem
          </p>
          

  </nav>
  
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </article>
</section>

<hr width="100%">
<div class="a">
  <h2>Connect</h2>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="b">
    <h2>Subscribe To Our Newsletter</h2>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button>SUBSCRIBE NOW</button>
    </div>
    <hr width="100%">
    <p>© 2017 SAIF Partners. All Rights Reserved.</p>