<section>
  <nav>
    <p>FINANCE</p>
   <h2>
     Edelweiss
     </h2>
     <p>Edelweiss is one of India’s leading diversified financial services groups. Its businesses are broadly divided into the following segments: Credit, including Retail Finance and Debt Capital Markets, Commodities, Financial Markets, Asset Management, and Life Insurance
        People
     </p>
        <p>
          Rashesh Shah
          </p>
          

  </nav>
  
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
      Advisory team
     </h1>
     <a routerLink="/mridul" routerLinkActive="active"><img src="./assets/edelweiss.png" style="width:500px;height:300px;"></a>
   
  </article>
</section>

<hr width="100%">
<div class="a">
  <h2>Connect</h2>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="b">
    <h2>Subscribe To Our Newsletter</h2>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button>SUBSCRIBE NOW</button>
    </div>
    <hr width="100%">
    <p>© 2017 SAIF Partners. All Rights Reserved.</p>