<section>
  <nav>
<img src="./assets/ia2.png">
</nav>
<article>
<h2>
  Mukul Arora
  </h2>
  <p>MANAGING DIRECTOR</p>
  <p>NEW DELHI</p>
  <p>...</p>
  <p>
    Prior to joining us, Mukul was a consultant with McKinsey & Company, where he focused on infrastructure, energy, and logistics. Mukul was awarded the Director’s Medal at IIM Lucknow, and received his engineering degree from Netaji Subhas Institute of Technology, Delhi. His primary area of focus is early stage investments.</p>
  </article>
</section>
<hr>
<p><b>Consumer &nbsp;&nbsp;&nbsp;&nbsp; Internet &nbsp;&nbsp;&nbsp;&nbsp;  Enterprise Tech &nbsp;&nbsp;&nbsp;&nbsp; Logistics &nbsp;&nbsp;&nbsp;&nbsp; Education
</b>
</p><hr>