<section>
  <nav>
    <p>INDUSTRIAL</p>
   <h2>
     atul
     </h2>
     <p>Atul Limited produces over a thousand products and formulations for 4,000 clients in sectors as diverse as adhesives, agriculture, animal feed, automobile, chemical, composites, construction, cosmetic, defence, dyestuff, electrical and electronics and so on.<h4>
        People
        </h4>
        <p>
          Sunil Lalbhai
          </p>
          

  </nav>
  
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
      Advisory team
     </h1>
     <a routerLink="/deepak" routerLinkActive="active"><img src="./assets/atul.png" style="width:500px;height:300px;"></a>
   
  </article>
</section>

<hr width="100%">
<div class="a">
  <h2>Connect</h2>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="b">
    <h2>Subscribe To Our Newsletter</h2>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button>SUBSCRIBE NOW</button>
    </div>
    <hr width="100%">
    <p>© 2017 SAIF Partners. All Rights Reserved.</p>