<section>
  <nav>
<img src="./assets/ia1.png">
</nav>
<article>
<h2>
  Mridul Arora
  </h2>
  <p>MANAGING DIRECTOR</p>
  <p>BANGALORE</p>
  <p>...</p>
  <p>
    Mridul focuses on consumer internet/mobile investments with a keen interest in fin-tech and health-tech. Prior to joining us, Mridul was an Engagement Manager with McKinsey & Company where he focused on financial services, in particular banking, insurance, and asset management. Mridul received a degree in Chemical Engineering from IIT Madras and holds his M.B.A. from IIM Lucknow.</p>
  </article>
</section>
<hr>
<p><b>Finance &nbsp;&nbsp;&nbsp;&nbsp; Healthcare &nbsp;&nbsp;&nbsp;&nbsp; Enterprise Tech &nbsp;&nbsp;&nbsp;&nbsp; Consumer
</b>
</p><hr>