<section>
  <nav>
<img src="./assets/it1.png">
</nav>
<article>
<h2>
    Ravi Adusumalli
  </h2>
  <p>MANAGING PARTNER</p>
  <p>NEW DELHI</p>
  <p>...</p>
  <p>
    Ravi Adusumalli joined SAIF in 2002. Prior to this, he worked at Mobius Venture Capital, Credit Suisse, and Wasatch Funds. Ravi graduated from Cornell University with a B.A. in Economics and Government.
  </p>
  </article>
</section>
<hr>
<p><b>Finance &nbsp;&nbsp;&nbsp;&nbsp; IT Services &nbsp;&nbsp;&nbsp;&nbsp; Consumer &nbsp;&nbsp;&nbsp;&nbsp; Enterprise Tech &nbsp;&nbsp;&nbsp;&nbsp; Logistics
</b>
</p><hr>