<section>
  <nav>
    <p>FINANCE</p>
   <h2>
    ARMAN
     </h2>
     <p>Arman Financial serves unbanked and semi-banked customers with microfinance, two-wheeler finance and micro-enterprise loans, primarily in rural and semi-rural markets. It has a strong presence in Western and Central India. <h4>
        People
        </h4>
        <p>
          Jayendra B. Patel, Aalok J. Patel
          </p>
          

  </nav>
  
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>
      Advisory team
     </h1>
      <a routerLink="/mridul" routerLinkActive="active"> <a routerLink="/mridul" routerLinkActive="active"></a> <img src="./assets/ackoat.png" style="width:500px;height:300px;"></a>
   
  </article>
</section>

<hr width="100%">
<div class="a">
  <h2>Connect</h2>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="b">
    <h2>Subscribe To Our Newsletter</h2>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button>SUBSCRIBE NOW</button>
  
    </div>

    <hr width="100%">
    <p>© 2017 SAIF Partners. All Rights Reserved.</p>