<div>
  <h2>
  News
  </h2>
  <h5>
<p>...</p>
Get the latest updates and insights
about our company.    </h5>
<hr width="80%">
<br>
<br>
<h1> Press</h1>
<a href="https://techcrunch.com/2019/08/15/sharechat-twitter-seriesd/"> <img src="./assets/news1a.png" onmouseover="this.src='./assets/news1b.png'" onmouseout="this.src='./assets/news1a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://techcrunch.com/2019/08/11/meesho-india/"> <img src="./assets/news2a.png" onmouseover="this.src='./assets/news2b.png'" onmouseout="this.src='./assets/news2a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://techcrunch.com/2019/08/01/urbanclap-indias-largest-home-services-startup-raises-75m/"> <img src="./assets/news3a.png" onmouseover="this.src='./assets/news3b.png'" onmouseout="this.src='./assets/news3a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<br><a href="https://samsung.dailyhunt.in/news/india/english/yourstory-epaper-yourstory/indian+logistics+startup+rivigo+granted+us+patent+for+its+driver+system-newsid-128003372?mode=pwa&s=Samsung&ss=Browser-UHP&utm_source=Samsung&utm_medium=Browser-UHP&utm_campaign=Samsung-Browser-UHP&lite=true&prevRef=samsung&partnerRef=%7B%22pid%22%3A%22samsung%22%7D&puid=505783526058451Android8.0.0SAMSUNGSM-G955FBuildR16NW2.754g100"> <img src="./assets/news4a.png" onmouseover="this.src='./assets/news4b.png'" onmouseout="this.src='./assets/news4a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://www.forbesindia.com/article/vc-and-pe-special/indias-top-25-venture-capital-firms/54433/1"> <img src="./assets/news5a.png" onmouseover="this.src='./assets/news5b.png'" onmouseout="this.src='./assets/news5a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://yourstory.com/2019/06/funding-startup-unacademy-50-million-sequoia-nexus-haptik-udaan"> <img src="./assets/news6a.png" onmouseover="this.src='./assets/news6b.png'" onmouseout="this.src='./assets/news6a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<br><a href="https://www.thehindubusinessline.com/info-tech/finwego-raises-17-mn-from-saif-partners-others/article28076012.ece"> <img src="./assets/news7a.png" onmouseover="this.src='./assets/news7b.png'" onmouseout="this.src='./assets/news7a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://techcrunch.com/2019/06/05/india-nobroker-51-million/"> <img src="./assets/news8a.png" onmouseover="this.src='./assets/news8b.png'" onmouseout="this.src='./assets/news8a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<a href="https://www.business-standard.com/article/pti-stories/saif-partners-to-invest-usd-1-mn-in-capital-float-114080601327_1.html"> <img src="./assets/news9a.png" onmouseover="this.src='./assets/news9b.png'" onmouseout="this.src='./assets/news9a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
<hr width="80%">
<div class="ab">
  <h1>Connect</h1>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="ab">
    <h1>Subscribe To Our Newsletter</h1>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button class="abcdefgh">SUBSCRIBE NOW</button>
  <hr width="80%">
    </div>
<p>© 2017 SAIF Partners. All Rights Reserved.</p>
    </div>