<section>
  <nav>
<img src="./assets/ia3.png">
</nav>
<article>
<h2>
  Deepak Gaur
  </h2>
  <p>MANAGING DIRECTOR</p>
  <p>NEW DELHI</p>
  <p>...</p>
  <p>
    Prior to joining us, Deepak was a consultant with McKinsey & Company, where he focused in consumer products/services, IT, telecom, and the automotive sector. He has also worked at IBM Global Services in their Telecom and Media Services division. Deepak was awarded the Chairman’s Gold Medal at IIM Lucknow and has a B.Tech. in Mechanical Engineering from IIT Kanpur. </p>
  </article>
</section>
<hr>
<p><b>Industrials &nbsp;&nbsp;&nbsp;&nbsp; Consumers &nbsp;&nbsp;&nbsp;&nbsp; Healtcare &nbsp;&nbsp;&nbsp;&nbsp; IT Services Tech &nbsp;&nbsp;&nbsp;&nbsp; Logistics
</b>
</p><hr>