<div class="a">
  <h2>
  About
  </h2>
  <h5>
<p>...</p>
Supporting visionary entrepreneurs
across diverse sectors.
    </h5>
    <hr width="80%">
  <img src="./assets/ab1.png" alt="Italian Trulli" style="width:1100px;height:400px;">
<hr width="80%">
<div *ngIf="image1==true" class="a">
  <img src="./assets/ab2.png" alt="Italian Trulli" style="width:1100px;height:400px;">
  </div>
  <div *ngIf="image2==true" class="a">
    <img src="./assets/ab3.png" alt="Italian Trulli" style="width:1100px;height:400px;">
    </div>
  
<button class="a" (click)="imgbutton1()">.</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button class="b" (click)="imgbutton2()">.</button>
<br>
<br>
<hr width="80%">
<div class="ab">
  <h1>Connect</h1>
<p>+91 124 4965500</p>
<p>
  info@saifpartners.com</p>
  </div>
  <div class="ab">
    <h1>Subscribe To Our Newsletter</h1>
  <p>Type your email address here please</p>
  <input type="text">&nbsp;&nbsp;
  <button>SUBSCRIBE NOW</button>
  <hr width="80%">
    </div>
<p>© 2017 SAIF Partners. All Rights Reserved.</p>
</div>