<div class="a" >
  <br>  

  &nbsp;&nbsp;
  <button class='a' click="portfolio()" routerLink="/portfolio" routerLinkActive="active">Portfolio</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='b' click="teampage()" routerLink="/teampage" routerLinkActive="active">Team</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='c' click='aboutpage()' routerLink="/aboutpage" routerLinkActive="active">About</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='d' click='newspage()' routerLink="/newspage" routerLinkActive="active">News</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='e' click='reachuspage()' routerLink="/reachuspage" routerLinkActive="active">Reach Us</button>&nbsp;
  <br>
  <br>
</div>
<div class="b">
 &nbsp;&nbsp;<a routerLink="/startingpage" routerLinkActive="active" ><img src="./assets/flipr.png"></a>
  </div>
<router-outlet></router-outlet>
