<section>
  <nav>
<img src="./assets/it2.png">
</nav>
<article>
<h2>
  Thirumagen Pazani
  </h2>
  
  <p>...</p>
  <p>
    Pazani has been with SANNE Mauritius for over 10 years where he heads a closed-end fund unit responsible for handling the specific needs of private equity investors. In addition to his private equity specialism, he has also acquired in-depth knowledge and expertise of the global business industry with hands-on exposure in accounting, tax, corporate structuring and set-ups, AML, legal and secretarial matters. Pazani is a Fellow of the Association of Chartered Certified Accountants (ACCA) UK and holds a Bachelor of Science in Management with Finance with first class distinction from the University of Mauritius.</p>
  </article>
</section>