<p>
  Portfolio
</p>
<div class="a"><button (click)="privatecompanies()">Private Companies</button>&nbsp;&nbsp;
<button (click)="publiccompanies()">Public Companies</button>
<hr width="75%">
</div>

<div *ngIf="a==true" class="b">
  <br>
  <a routerLink="/acko" routerLinkActive="active"> <img src="./assets/1a.png" onmouseover="this.src='./assets/1b.png'" onmouseout="this.src='./assets/1a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/autoninja" routerLinkActive="active"> <img src="./assets/2a.png" onmouseover="this.src='./assets/2b.png'" onmouseout="this.src='./assets/2a.png'"alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/aye" routerLinkActive="active"> <img src="./assets/3a.png" onmouseover="this.src='./assets/3b.png'" onmouseout="this.src='./assets/3a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <br>
  <br>
  <a routerLink="/bobble" routerLinkActive="active"><img src="./assets/4a.png" onmouseover="this.src='./assets/4b.png'" onmouseout="this.src='./assets/4a.png'"alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/bookmyshow" routerLinkActive="active"><img src="./assets/5a.png" onmouseover="this.src='./assets/5b.png'" onmouseout="this.src='./assets/5a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/capitalfort" routerLinkActive="active"><img src="./assets/6a.png" onmouseover="this.src='./assets/6b.png'" onmouseout="this.src='./assets/6a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  </div>
  <div *ngIf="b==true" class="c">
    <br>
  <a routerLink="/arman" routerLinkActive="active"><img src="./assets/11a.png" onmouseover="this.src='./assets/11b.png'" onmouseout="this.src='./assets/11a.png'"alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/atul" routerLinkActive="active"><img src="./assets/12a.png" onmouseover="this.src='./assets/12b.png'" onmouseout="this.src='./assets/12a.png'"alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/bajaj" routerLinkActive="active"><img src="./assets/13a.png" onmouseover="this.src='./assets/13b.png'" onmouseout="this.src='./assets/13a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <br>
  <br>
  <a routerLink="/bluestar" routerLinkActive="active"><img src="./assets/14a.png" onmouseover="this.src='./assets/14b.png'" onmouseout="this.src='./assets/14a.png'"balt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/edelwiss" routerLinkActive="active"><img src="./assets/15a.png" onmouseover="this.src='./assets/15b.png'" onmouseout="this.src='./assets/15a.png'"  alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;
  <a routerLink="/fiem" routerLinkActive="active"><img src="./assets/16a.png" onmouseover="this.src='./assets/16b.png'" onmouseout="this.src='./assets/16a.png'" alt="Italian Trulli" style="width:300px;height:300px;"></a>&nbsp;&nbsp;&nbsp;

    </div>