<div>
  <h2>
  Team
  </h2>
  <h5>
<p>...</p>
We believe in entrepreneurial spirit and
bring a full range of experience.
    </h5>
    <hr width="80%">
   <button (click)="allbutton()">All</button>&nbsp;&nbsp;&nbsp;&nbsp;
   <button (click)="itbutton()">Investment Team</button>&nbsp;&nbsp;&nbsp;&nbsp;
   <button (click)="iabutton()">Investment Advisor</button>
   <br>
   <br>
   <div *ngIf="a==true" class="a">
    <a routerLink="/mridul" routerLinkActive="active"><img src="./assets/ia1.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/mukul" routerLinkActive="active"><img src="./assets/ia2.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/deepak" routerLinkActive="active"><img src="./assets/ia3.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <br>
    <a routerLink="/ravi" routerLinkActive="active"><img src="./assets/it1.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/tiru" routerLinkActive="active"><img src="./assets/it2.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/shaif" routerLinkActive="active"><img src="./assets/it3.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    
    </div>
   <div *ngIf="b==true" class="b">
    <a routerLink="/ravi" routerLinkActive="active"><img src="./assets/it1.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/tiru" routerLinkActive="active"><img src="./assets/it2.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/shaif" routerLinkActive="active"><img src="./assets/it3.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
     </div>
   <div *ngIf="c==true" class="c">
    <a routerLink="/mridul" routerLinkActive="active"><img src="./assets/ia1.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/mukul" routerLinkActive="active"><img src="./assets/ia2.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
    <a routerLink="/deepak" routerLinkActive="active"><img src="./assets/ia3.png"  alt="Italian Trulli" style="width:300px;height:300px;"></a>
     </div>
</div>