<section>
  <nav>
<img src="./assets/it3.png">
</nav>
<article>
<h2>
  Shafiiq-Ur-Rahmaan Soyfoo
  </h2>
  <p>...</p>
  <p>
    Shafiiq is a Fellow of the Association of Chartered Certified Accountants (FCCA) UK, holds a Bachelor of Science in Management with Finance and a Master of Business Administration (Specialisation: Financial Services) from the University of Mauritius. He has been with SANNE Mauritius for over 10 years and has developed in depth knowledge of the financial services sector and has been exposed to the main areas of the industry including legal, tax, administration, accounting, anti-money laundering and corporate secretarial fields of financial and non-financial services entities including trusts.</article>
  </section>
